<div class="row">
    <div class="container">
        <h2 class="text-center">MOVIE SEAT RESERVATION</h2>

        <form name="detailForm" ng-init="detailSubmitted = false">
            <div class="col-xs-12 col-sm-6 margin-top-50">
                <label for="name">Name</label> <input type="text" ng-model="localName" required/>
            </div>
            <div class="col-xs-12 col-sm-6 margin-top-50">
                <label for="seats">No. of seats</label> <input type="text" ng-model="localSeatNumbers" required/>
            </div>
            <div class="col-xs-12 text-center margin-top-50">
                <button type="button" class="btn btn-primary"
                        ng-disabled="detailForm.$invalid" ng-click="detailSubmitted = true">Start Selecting</button>
            </div>
        </form>

        <div class="col-xs-12 margin-top-50">
            <div class="screen"><h3 class="text-center">Screen</h3></div>
        </div>
        <div class="col-xs-12">
            <!--<div>-->
                <!--<div ng-repeat="i in cols" style="display: inline-block;padding: 5px 40px;">{{i}}</div>-->
            <!--</div>-->

            <!--<div ng-repeat="i in rows" class="cine-rows">-->
                <!--{{i}}-->
                <!--<div style="display: inline-block;padding: 10px 25px"  ng-repeat="i in cols">-->
                    <!--<seat></seat>-->
                <!--</div>-->

            <!--</div>-->
            <table class="table borderless" >
                <tr>
                    <th></th>
                    <th ng-repeat="i in cols">{{i}}</th>
                </tr>
                <tr ng-repeat="(key,value) in seats">
                    <td>{{key}}</td>
                    <td ng-repeat="(key,value) in value" ng-init="Seatselect = false">
                        <div class="btn seats" ng-click ="Seatselect = !Seatselect; selection($parent.key, $index,value,Seatselect)"
                                ng-class ="{'selectedSeat': value.selected,'confirmedSeat':value.confirmed}"></div>
                    </td>
                </tr>
            </table>
            <div>
                <button class="btn btn-success" ng-click="confirmation()">Confirm</button>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9 margin-top-50">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>no.</th>
                        <th>Name</th>
                        <th>Seats</th>
                        <th>Seat numbers</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key,value) in confirmedSeats">

                        <td>{{$index}}</td>
                        <td>{{key}}</td>
                        <td>{{value.seats.length}}</td>
                        <td><span ng-repeat="seat in value.seats">&nbsp;{{seat}}<span ng-if="!$last">,</span></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="col-xs-2">
                <div class="btn seats notselectedSeat "></div>
            </div>
            <div class="col-xs-10">
                    Empty Seats
            </div>
            <div class="col-xs-2">
                <div class="btn seats confirmedSeat"></div>
            </div>
            <div class="col-xs-10">
                    Reserved Seats
            </div>
            <div class="col-xs-2">
                <div class="btn seats selectedSeat"></div>
            </div>
            <div class="col-xs-10">
                    Selected Seats
            </div>


        </div>
    </div>
</div>
